'use strict';

//begin game
(function() {
  var Game;
  Game = (function() {
    var that;
    
    var scene = null;
    var canvas = null;
    var context = null;
    
    function Game(CanvasId) {
    	var that = this;
    	
    	this.player = null;
    	
    	this.controls = [];
    	
    	this.pressing = false;
    	
    	//Será atualizado
		canvas = document.getElementById(CanvasId);
		
		//Sera atualizado
		context = canvas.getContext("2d");
		
		if(typeof once === "function"){
			once(window,'resize', function(){
				//coloca a cena e o canvas do tamanho da janela
				that.fitScreen();
			});
			
		//<% if(touch){ %>
			var startMoving = function(e){
				
				for(var i = 0; i < that.controls.length; i++){
					if(isPointIncircle(e.x, e.y, that.controls[i].x, that.controls[i].y, that.controls[i].r)){
						
						if(that.player){
							if(that.controls[i].action === "LEFT" && !that.player.CHARACTER_MOVE_LEFT){
								that.player.CHARACTER_MOVE_LEFT = true;
								that.pressing = true;
							}
							else if(that.controls[i].action === "RIGHT" && !that.player.CHARACTER_MOVE_RIGHT){
								that.player.CHARACTER_MOVE_RIGHT = true;
								that.pressing = true;
							}
							else if(that.controls[i].action === "JUMP_LEFT" && !that.player.CHARACTER_MOVE_UP){
								//that.player.CHARACTER_MOVE_LEFT = true;
								that.player.CHARACTER_MOVE_UP = true;
								that.pressing = true;
							}
							else if(that.controls[i].action === "JUMP_RIGHT" && !that.player.CHARACTER_MOVE_UP){
								//that.player.CHARACTER_MOVE_RIGHT = true;
								that.player.CHARACTER_MOVE_UP = true;
								that.pressing = true;
							}
//							else{
//								alert(that.controls[i].action);
//							}
							
						}
						
					}
				}
				
			};
			
			//move
			var processMove = function(e){
				
				//se foi pressionado
				if(that.pressing){
					that.pressing = false;
					for(var i = 0; i < that.controls.length; i++){
						//se ainda esta pressionado
						if(isPointIncircle(e.x, e.y, that.controls[i].x, that.controls[i].y, that.controls[i].r)){
							that.pressing = true;
						}
					}
					
					if(!that.pressing){						
						that.player.CHARACTER_MOVE_LEFT = false;
						that.player.CHARACTER_MOVE_RIGHT = false;
						that.player.CHARACTER_MOVE_UP = false;
					}
					
				}
				
			};
			
			
			var endMoving = function(e){
				
				for(var i = 0; i < that.controls.length; i++){
					if(isPointIncircle(e.x, e.y, that.controls[i].x, that.controls[i].y, that.controls[i].r)){
						if(that.controls[i].action === "LEFT"){
							that.player.CHARACTER_MOVE_LEFT = false;
						}
						else if(that.controls[i].action === "RIGHT"){
							that.player.CHARACTER_MOVE_RIGHT = false;	
						}
						else if(that.controls[i].action === "JUMP_LEFT"){
							//that.player.CHARACTER_MOVE_LEFT = false;
							that.player.CHARACTER_MOVE_UP = false;
						}
						else if(that.controls[i].action === "JUMP_RIGHT"){
							//that.player.CHARACTER_MOVE_RIGHT = false;
							that.player.CHARACTER_MOVE_UP = false;
						}
//						else{
//							alert(that.controls[i].action);
//						}
					}
				}
				
			};
			
			once(canvas, "mousedown", startMoving);
			once(canvas, "touchstart", startMoving);
			
			once(canvas, "mouseup", endMoving);
			once(canvas, "touchend", endMoving);
			
			once(canvas, "touchmove", processMove);
			once(canvas, "mousemove", processMove);
			//<% } %>

		}
		else{
			throw "once is not defined";
			exit(1);
		}
		
		this.now = Date.now();
	    this.then = this.now;
	    
	    this.GAME_RUNNING = false;
	    
	    
		this.setScene(new Scene(this));
		
		this.loop();
	    
		
    }

    //<% if(zoom){ %>
    /**
     * @Description coloca a cena e o canvas do tamanho da janela
     */
    Game.prototype.fitScreen = function(){
    	canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
		
		if(scene != null){
			
			//scene.resize(canvas.width, canvas.height);
			scene.fitScreen();
			scene.clear();
			scene.makeScene();
		}
    	else
    		throw "in 'Game' scene is null\nplease use: game.setScene(Scene)";
		
		
		return that;
    }
    //


    Game.prototype.setScene = function(Scene){
    	
    	//var that = this;
    	
    	scene = Scene;
    	scene.canvas = canvas;
    	scene.context = context;
    	
    	
    	this.fitScreen();
    	
    	this.controls = [
			{ //TR
				x:scene.Width-60,
				y: scene.Height -200,
				r: 50,
				action: "JUMP_RIGHT"
			},
			{ //BR
				x:scene.Width-90,
				y:scene.Height -80,
				r:70,
				action: "RIGHT"
			},    	                 
			{ //TL
				x:60,
				y:scene.Height -200,
				r:50,
				action: "JUMP_LEFT"
			},
			{ //BL
				x:90,
				y:scene.Height -80,
				r:70,
				action: "LEFT"
			}
    	];
    	
    	return that;
    }    
    
    
    Game.prototype.drawControls = function(){
    	
    	for(var i = 0; i < this.controls.length; i++){
    		Circle(context, this.controls[i].x, this.controls[i].y, this.controls[i].r);
    	}
    }
    
    
    Game.prototype.loop = function() {
    	
    	if(!this.GAME_RUNNING){
    		this.GAME_RUNNING = true;
    		
    		this.now = Date.now();
	    	this.then = this.now;
	    	
    		window.requestAnimationFrame(this.loop.bind(this));
    		
    		return;
    	}
    	
    	this.now = Date.now();
    	var delta = (this.now - this.then);
    	this.then = this.now;
    	
    	if(scene != null){
    		//console.log(delta);
    		scene.draw(delta);
    		this.drawControls();
    	}
    	else{
    		throw "in 'Game' scene is null\nplease use: game.setScene(Scene)";
    	}
    	
    	window.requestAnimationFrame(this.loop.bind(this));
    };

    return Game;

  })();

  window.Game = Game;

}).call(this);
