<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8"> 
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="js/allgame.js"></script>
		<script type="text/javascript">
	
		"use strict";

  function fullscreen(elem){
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
      elem.webkitRequestFullscreen();
    }
  }
	

		once(window,'load', function(){
			
			var game = new Game("c1");
			var scene = new Scene({"type":"image",
							"original_name":"img/marioworld1bl4nq.png",
							"original_width":662,
							"original_height":501,
							"frame_count":7,
							"frame_width":80,
							"frame_height":48,
							"objects":
							[{"name":"yellowBar","x":606,"y":56,"w":48,"h":11},
							 {"name":"whiteBar","x":578,"y":78,"w":80,"h":11},
							 {"name":"clayBlock","x":592,"y":177,"w":16,"h":16},
							 {"name":"intBlock1","x":575,"y":139,"w":16,"h":16},
							 {"name":"intBlock2","x":592,"y":139,"w":16,"h":16},
							 {"name":"intBlock3","x":609,"y":139,"w":16,"h":16},
							 {"name":"greenTube","x":305,"y":177,"w":32,"h":48}]});
			
			var player = new Enemy({"type":"animation-coords",
							"original_name":"img/mario_andando.png",
							"original_width":256,
							"original_height":128,
							"frame_count":25,
							"w":26,
							"h":35,
							"objects":
							[{"id":0,"delay":1,"x":0,"y":31,"w":23,"h":32,"gx":-1,"gy":-16,"gz":0},
							{"id":1,"delay":1,"x":0,"y":0,"w":24,"h":31,"gx":-1,"gy":-16,"gz":0},
							{"id":2,"delay":1,"x":24,"y":0,"w":25,"h":30,"gx":-1,"gy":-15,"gz":0},
							{"id":3,"delay":1,"x":24,"y":30,"w":25,"h":30,"gx":-1,"gy":-15,"gz":0},
							{"id":4,"delay":1,"x":49,"y":0,"w":26,"h":31,"gx":-1,"gy":-16,"gz":0},
							{"id":5,"delay":1,"x":0,"y":63,"w":23,"h":32,"gx":-2,"gy":-16,"gz":0},
							{"id":6,"delay":1,"x":0,"y":95,"w":22,"h":32,"gx":0,"gy":-16,"gz":0},
							{"id":7,"delay":1,"x":24,"y":60,"w":19,"h":32,"gx":0,"gy":-16,"gz":0},
							{"id":8,"delay":1,"x":24,"y":92,"w":17,"h":33,"gx":-1,"gy":-17,"gz":0},
							{"id":9,"delay":1,"x":49,"y":31,"w":15,"h":33,"gx":-2,"gy":-17,"gz":0},
							{"id":10,"delay":1,"x":75,"y":35,"w":15,"h":33,"gx":-2,"gy":-17,"gz":0},
							{"id":11,"delay":1,"x":49,"y":64,"w":16,"h":35,"gx":-1,"gy":-18,"gz":0},
							{"id":12,"delay":1,"x":75,"y":0,"w":17,"h":35,"gx":-1,"gy":-18,"gz":0},
							{"id":13,"delay":1,"x":92,"y":0,"w":19,"h":34,"gx":-2,"gy":-17,"gz":0},
							{"id":14,"delay":1,"x":111,"y":0,"w":23,"h":31,"gx":-2,"gy":-16,"gz":0},
							{"id":15,"delay":1,"x":134,"y":0,"w":24,"h":30,"gx":-2,"gy":-15,"gz":0},
							{"id":16,"delay":1,"x":158,"y":0,"w":24,"h":30,"gx":-2,"gy":-15,"gz":0},
							{"id":17,"delay":1,"x":182,"y":0,"w":24,"h":30,"gx":-2,"gy":-15,"gz":0},
							{"id":18,"delay":1,"x":134,"y":30,"w":25,"h":31,"gx":-2,"gy":-16,"gz":0},
							{"id":19,"delay":1,"x":134,"y":61,"w":24,"h":33,"gx":-3,"gy":-17,"gz":0},
							{"id":20,"delay":1,"x":134,"y":94,"w":24,"h":33,"gx":-3,"gy":-17,"gz":0},
							{"id":21,"delay":1,"x":159,"y":30,"w":24,"h":34,"gx":-2,"gy":-17,"gz":0},
							{"id":22,"delay":1,"x":111,"y":31,"w":22,"h":34,"gx":0,"gy":-17,"gz":0},
							{"id":23,"delay":1,"x":111,"y":31,"w":22,"h":34,"gx":0,"gy":-17,"gz":0},
							{"id":24,"delay":1,"x":92,"y":34,"w":19,"h":34,"gx":0,"gy":-17,"gz":0},
							{"id":25,"delay":1,"x":111,"y":65,"w":23,"h":31,"gx":-1,"gy":-16,"gz":0}]});
			
			scene.addPlayer(player);
			
			
			
			scene.makeScene = function(){
		    	
		    	//solidIndex, col, row, offset_x, offset_y, zoom_x, zoom_y, Cols, Rows
		    	scene.addSolid(2, 0, 4, 0, 30, scene.scaleX, scene.scaleY, 10, 8);
		    	
		    	scene.addSolid(2, 2, 4, 45, 17, scene.scaleX, scene.scaleY, 7, 6);
		    	
		    	scene.addSolid(2, 4, 3, 30, 17, scene.scaleX, scene.scaleY, 4, 1);
		    	
		    	scene.addSolid(2, 6, 2, 30, 30, scene.scaleX, scene.scaleY, 4, 1);
		    	
		    	
		    }
			
			
			
			game.setScene(scene);

			//game.loop();
			

		});
		</script>
    </head>
    <body>
        <canvas id="c1"></canvas>
    </body>
</html>
