<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8"> 
        <title><%= title %></title>
        
        <meta name="mobile-web-app-capable" content="yes">
				<!-- meta content='width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=0' name='viewport' / -->
        
        <link rel="stylesheet" href="/stylesheets/style.css" />
<!--        -->            
        <script src="js/Util.js"></script>
        <script src="js/generated.js"></script>

<!--
    	<script src="js/Util.js"></script>
        <script src="js/Game.js"></script>
        <script src="js/Scene.js"></script>
        <script src="js/Character.js"></script>
        <script src="js/Player.js"></script>
        <script src="js/Mob.js"></script>
    -->


        
        
		<script type="text/javascript">
	
		"use strict";

  function fullscreen(elem){
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
      elem.webkitRequestFullscreen();
    }
  }

	var fs = false;

  function $(s){
    switch(s[0]){
      case "#":
        return document.getElementById(s.substr(1));
      break;
      case ".":
        return document.getElementsByClassName(s.substr(1));
      break;
      default:
        return document.getElementsByTagName(s);
      break;
    }
  }
				
		once(window,'load', function(){
			
			var game = new Game("c1");
			
// 			var el = document.getElementById('c1');
// 			var fullscreen = false;
// 			once(el,'click', function(){
// 				if(el.webkitRequestFullScreen) {
// 					el.webkitRequestFullScreen();
// 				}
// 				else {
// 					el.mozRequestFullScreen();
// 				}
// 				fullscreen = true;
// 			});


				
		once($("#c1"),'click', function(){
			if(!fs){
				fullscreen($("#c1"));
				fs = true;
			}
		});

		});
		
		</script>
    </head>
    <body>
        <canvas id="c1" style="width: 854; height:480;"></canvas>
    </body>
</html>
